<div *ngIf="station; else loading">
    <h2 class="text-xl font-semibold">Gas Station Details</h2>
    <p><strong>ID:</strong> {{ station.objectid }}</p>
    <p><strong>Adresse:</strong> {{ station.adresse }}</p>
    <p><strong>Latitude:</strong> {{ station.latitude }}</p>
    <p><strong>Longitude:</strong> {{ station.longitude }}</p>

    <!-- map -->
    <div class="map-container">
        <google-map [center]="center" [zoom]="zoom" height="500px" width="95%">
            <map-marker [position]="{ lat: station.latitude, lng: station.longitude }"></map-marker>
        </google-map>
    </div>
</div>

<ng-template #loading>
    <p>Loading station details...</p>
    <mat-spinner></mat-spinner>
</ng-template>