<app-filterbox (filterboxStateChanged)="onFilterChanged($event)" [showViewToggleRow]="false">
</app-filterbox>

<div>
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="objectid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{element.objectid}}</td>
        </ng-container>

        <!-- Adresse Column -->
        <ng-container matColumnDef="adresse">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</th>
            <td mat-cell *matCellDef="let element" 
                appHighlight 
                [searchedWord]="filterState.searchQuery || ''"
                [classToApply]="'font-weight-bold'"
                content="{{element.adresse}}">
            </td>
        </ng-container>

        <!-- Latitude Column -->
        <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef>Latitude</th>
            <td mat-cell *matCellDef="let element">{{element.latitude}}</td>
        </ng-container>

        <!-- Longitude Column -->
        <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef>Longitude</th>
            <td mat-cell *matCellDef="let element">{{element.longitude}}</td>
        </ng-container>

        <!-- Btn Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button	
                        [routerLink]="['/gas-stations', element.objectid]">
                  Show on Map
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- 
            https://material.angular.dev/components/table/overview#3-define-the-row-templates 
            https://www.geeksforgeeks.org/angular-material-sort-header-component/
        -->

    </table>

    <mat-paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons
        aria-label="Select page"></mat-paginator>

</div>